<link rel="stylesheet" href="/css/header.css">
<header class="navHeader">
    <a href="/bugHarbor" class="display-6 headerSpan" style="color:seashell"><b style="color:#38b1f7">Bug</b>Harbor</a>
    <a href="/bugHarbor/projectDetails" class="btn btn-light mx-5" style="color: #36454F">Project Details</a>
</header>
